<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000"
            overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${event-context:item=TetLoggerName}.txt"
              archiveFileName="${basedir}/archives/${event-context:item=TetLoggerName}.{#####}.txt"
              archiveNumbering="Sequence"
              archiveEvery="Hour"
              maxArchiveFiles="168">
        <layout xsi:type="CSVLayout">
          <column name="Time" layout="${longdate}"/>
          <column name="CurrentDevice" layout="${event-context:item=CurrentDevice}"/>
          <column name="RemoteDevice" layout="${event-context:item=RemoteDevice}"/>
          <column name="Direction" layout="${event-context:item=Direction}"/>
          <column name="Message" layout="${message}"/>
          <column name="Array" layout="${event-context:item=Array}"/>
        </layout>
      </target>
    </target>
    <target name="file2" xsi:type="AsyncWrapper" queueLimit="5000"
            overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${event-context:item=TetLoggerName}.txt"
              archiveFileName="${basedir}/archives/${event-context:item=TetLoggerName}.{#####}.txt"
              archiveNumbering="Sequence"
              archiveEvery="Hour"
              maxArchiveFiles="168">
        <layout xsi:type="CSVLayout">
          <column name="Time" layout="${longdate}"/>
          <column name="ProcessId" layout="${processid}"/>
          <column name="Counter" layout="${counter}"/>
          <column name="Level" layout="${level}"/>
          <column name="ThreadId" layout="${threadid}"/>
          <column name="SenderNamespace" layout="${event-context:item=SenderNamespace}"/>
          <column name="SenderName" layout="${event-context:item=SenderName}"/>
          <column name="MethodName" layout="${event-context:item=MethodName}"/>
          <column name="Message" layout="${message}"/>
        </layout>
      </target>
    </target>
  </targets>
  
  <rules>
    <logger name="PidSrvTraceLogger" writeTo="file" minlevel="Trace" />
    <logger name="PidSrvMessageLogger" writeTo="file2" minlevel="Trace" />
  </rules>
</nlog>